body {
    margin: 0;
    font-family: 'Merriweather', serif;
    text-align: center;
}

hr{
    margin: 50px auto 50px auto;
    border-style: dotted none none none;
    border-width: 10px;
    width: 7%;

}

.copy{
    color: #EAF6F6;
    margin-top: 50px;
    
}

.footer-link{
    color: #11999E;
    font-family: 'Roboto Serif', sans-serif;
    font-weight: 900;
    margin: auto 30px auto 30px;
    
}

.BUTTON_IMP {
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    height: 0;
    line-height: 0;
    color: #FFFFFF;
    font-family: Helvetica;
    width: 120px;
    font-size: 20px;
    font-weight: 100;
    padding: 20px;
    background-color: #11999E;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    margin: 15px auto 30px auto;
 }
 
 .BUTTON_IMP:hover {
    background: #0C686C;
    border: solid #11999E 1px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    text-decoration: none;
 }
#img-skill1{
    float: right;
    padding-left: 30px;
}
.img-skill{
   float: left;
   padding-right: 30px;
   width: 25%;
}
.skill-text{
    text-align: left;
    line-height: 1.5;
}
.skill-row{
    margin: 100px auto 100px auto;
    text-align: left;
    width: 50%;
}
.top-cloud{
    position: absolute;
    right: 300px;
    top: 50px;
}

.bottom-cloud{
    position: absolute;
    left: 300px;
    bottom: 300px;
}

h1 {
    color:#66BFBF;
    font-family: 'Barlow', sans-serif;
    font-size: 4.0rem;
    margin: 50px auto 0 auto;
    width: 20%;
}

h2{
    color: #66BFBF;
    font-family: 'Roboto Serif', sans-serif;
    font-size: 2.5rem;
    font-weight: normal;
}
h3{
    color: #11999E;
    font-family: 'Roboto Serif', sans-serif;
    font-size: 1.5rem;
}

p{
    color: #40514E;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}
.top-container {
    background-color: #EAF6F6;
    padding-top: 100px;
    position: relative;

    
}

.bottom-container{
    padding: 50px 0 50px 0;
    margin-top: 10px;
    background-color: #66BFBF;
}





